@font-face {
  font-family: "fontIcon";
  src: url("/src/font/fontIcon/fontIcon.woff") format("woff"),
    url("/src/font/fontIcon/fontIcon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="i-"],
[class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "fontIcon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-close:before {
  content: "\e900";
}
.i-plus:before {
  content: "\e901";
}
.i-bin:before {
  content: "\e902";
}
.i-search:before {
  content: "\e905";
}
.i-Location:before {
  content: "\e904";
}
.i-edit:before {
  content: "\e903";
}
.i-star:before {
  content: "\e906";
}
.i-down:before {
  content: "\e907";
}
.i-bin-solid:before {
  content: "\e908";
}
.i-location-md:before {
  content: "\e909";
}
.i-check:before {
  content: "\e90a";
}
.i-clock:before {
  content: "\e90b";
}
.i-instagram:before {
  content: "\e90c";
}
.i-phone:before {
  content: "\e90d";
}
