@font-face {
    font-family: 'inter';
    font-weight: 100;
    src: url(/src/font/inter/Inter-Thin.ttf);
}
@font-face {
    font-family: 'inter';
    font-weight: 200;
    src: url(/src/font/inter/Inter-ExtraLight.ttf);
}
@font-face {
    font-family: 'inter';
    font-weight: 300;
    src: url(/src/font/inter/Inter-Light.ttf);
}
@font-face {
    font-family: 'inter';
    font-weight: 400;
    src: url(/src/font/inter/Inter-Regular.ttf);
}
@font-face {
    font-family: 'inter';
    font-weight: 500;
    src: url(/src/font/inter/Inter-Medium.ttf);
}
@font-face {
    font-family: 'inter';
    font-weight: 600;
    src: url(/src/font/inter/Inter-SemiBold.ttf);
}
@font-face {
    font-family: 'inter';
    font-weight: 700;
    src: url(/src/font/inter/Inter-Bold.ttf);
}
@font-face {
    font-family: 'inter';
    font-weight: 800;
    src: url(/src/font/inter/Inter-ExtraBold.ttf);
}
@font-face {
    font-family: 'inter';
    font-weight: 900;
    src: url(/src/font/inter/Inter-Black.ttf);
}

// //////////////////
@font-face {
    font-family: 'Montserrat';
    font-weight: 100;
    src: url(/src/font/Montserrat/Montserrat-Thin.ttf);
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 200;
    src: url(/src/font/Montserrat/Montserrat-ExtraLight.ttf);
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 300;
    src: url(/src/font/Montserrat/Montserrat-Light.ttf);
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url(/src/font/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    src: url(/src/font/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    src: url(/src/font/Montserrat/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url(/src/font/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 800;
    src: url(/src/font/Montserrat/Montserrat-ExtraBold.ttf);
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 900;
    src: url(/src/font/Montserrat/Montserrat-Black.ttf);
}