$bg-primary: #202c36;
$bg-secondary: #2b3844;
$bg-form: rgb(184, 184, 184, 0.3);
$aqua-color: #36e2ec;
$black-four: rgba(0, 0, 0, 0.25);
$black-two: rgba(0, 0, 0, 0.5);
$white: white;
$white-five: rgb(255, 255, 255, 0.2);
$white-two: rgb(255, 255, 255, 0.5);
$bg-wrapper: rgb(0, 0, 0, 0.4);
