@import "font";
@import "fontIcon";
@import "variables";

@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

html {
  font-family: "Montserrat";
  scroll-behavior: smooth;
}

body {
  background-image: url(/src/img/body-back2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.caty:hover {
  p {
    opacity: 1;
  }
}

.back-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $bg-wrapper;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.head-container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
  z-index: 2;
}
.slick-dots {
  gap: 10px;
  button {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #eee;
    transition: all 0.3s;
    &:hover {
      background-color: $aqua-color;
    }
  }
}
.cat {
  background-color: $black-four;
  transition: all 0.3s;
  &:hover {
    background-color: rgb(75 85 99);
  }
}

.dropdown {
  background-color: $bg-primary;
}
.p-header {
  background-color: transparent;
  padding: 30px 0;
  .header_inner {
    max-width: 1200px;

    .p-logo {
      font-family: "courgette";
      color: $aqua-color;
    }

    button {
      transition: all 0.3s;
      &:hover {
        color: $white;
      }
      &::after {
        transition: all 0.3s;
        content: "";
        position: absolute;
        height: 2px;
        border-radius: 50rem;
        width: 0%;
        top: 100%;
        left: 0;
        background-color: $aqua-color;
      }
      &:hover::after {
        width: 100%;
      }
    }
    .menu {
      display: flex;
      align-items: center;
      width: 25px;
      height: 25px;
      cursor: pointer;
      .hambergur {
        .line {
          position: relative;
          background-color: $aqua-color;
          height: 3px;
          width: 25px;
          transition: all 0.5s ease-in-out;
          &::after,
          &::before {
            content: "";
            position: absolute;
            top: 8px;
            width: 25px;
            height: 3px;
            background-color: $aqua-color;
          }
          &::after {
            top: -8px;
          }
        }
        &.is-active .line {
          transform: rotate(135deg);
          &::after,
          &::before {
            top: 0;
            transform: rotate(90deg);
          }
        }
      }

      &:hover {
        .hambergur.is-active .line {
          transform: rotate(225deg);
        }
      }
    }
  }
  &.scrolled {
    background-color: $bg-primary;
    position: fixed;
    top: 0;
    padding: 10px 0;
    transition: all 0.5s;
  }
}

form {
  div {
    height: 40px;
    border-radius: 50rem;
    background-color: $bg-form;
    input {
      height: 100%;
      background: transparent;
      border-radius: 50rem;
    }
    button {
      transition: background 0.3s;
      border-radius: 50%;
      padding: 0 10px;
      &:hover {
        background-color: $white-five;
      }
    }
  }
}
/* Slideshow container */

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: $white-five;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: $aqua-color;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

main {
  width: 100%;
  .category--container {
    background-color: $bg-primary;
    .category--main {
      max-width: 1200px;
      margin: 0 auto;
      background-color: $bg-secondary;
      .featured-image {
        background: url(../img/popSong.jpeg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .entry-container {
        .entry-content {
          color: $white-two;
        }
      }
      .categories {
        max-height: 430px;
        overflow-y: auto;
        &::-webkit-scrollbar {
          width: 8px;
          cursor: pointer;
        }
        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px $black-four;
          border-radius: 50rem;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $aqua-color;
          outline: 1px solid $bg-secondary;
          border-radius: 50rem;
        }
      }
    }
  }

  .p-latest_release {
    background-color: $bg-primary;
    .p-latest-release__container {
      max-width: 1200px;
      margin: 0 auto;
      .release {
        min-height: 250px;
        transition: all 0.3s;
        &:hover {
          color: $white-two;
        }
        &:nth-child(1) {
          background-image: url(../img/release1.jpeg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
        &:nth-child(2) {
          background-image: url(../img/release2.jpeg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
        &:nth-child(3) {
          background-image: url(../img/release3.jpeg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }

  .page-section {
    background-color: $bg-secondary;
    .wrapper {
      max-width: 1200px;
      margin: 0 auto;
      .section-title {
        max-width: 50rem;
      }
      .card-wrapper {
        transition: all 0.3s;
        cursor: pointer;
        .entry-container {
          .entry-content {
            color: $white-two;
          }
        }
        &:hover {
          background-color: rgba(255, 255, 255, 0.05);
          box-shadow: 0px 50px 50px 0px rgb(0 0 0 / 10%);
          transform: scale(1.05);
        }
      }
    }
  }

  .middle_container {
    .overlay {
      background-color: black;
      opacity: 0.2;
    }
    .wrapper {
      max-width: 1200px;
      margin: 0 auto;
      .section-title {
        font-family: "courgette";
      }
    }
  }

  .read-more {
    border: 1px solid $aqua-color;
    color: $aqua-color;
    transition: all 0.3s;
    &:hover {
      background-color: $aqua-color;
      color: $white;
      border: 1px solid $aqua-color;
    }
  }

  .latest_blogs {
    background-color: $bg-primary;
    .p-latest-blogs__container {
      max-width: 1200px;
      .blog-wrap {
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
          background-color: rgba(255, 255, 255, 0.05);
          box-shadow: 0px 50px 50px 0px rgb(0 0 0 / 10%);
          p {
            color: rgb(255, 255, 255, 0.75);
          }
        }
        p {
          color: $white-two;
        }
      }
    }
  }
}
body::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px $black-four;
  background-color: $bg-primary;
  border-radius: 50rem;
}
body::-webkit-scrollbar-thumb {
  background-color: $aqua-color;
  outline: 1px solid $bg-primary;
  border-radius: 50rem;
  transition: all 0.3s;
  &:hover {
    width: 0.5rem;
  }
}

.p-footer {
  background-color: $bg-secondary;
  color: $white-two;
  .p-footer__inner {
    max-width: 1200px;
    li {
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        color: white;
      }
    }
    .footer__logo {
      h2 {
        font-family: "courgette";
        color: $aqua-color;
      }
      p {
        color: $white-two;
      }
    }
  }
}

@media (min-width: 768px) {
  .release {
    min-height: 350px !important;
  }
}
